<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>

     <title>{% block title %}{% endblock title %} | vaccination</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">
   <!-- <title> Responsive Drop Down Navigation Menu | CodingLab </title>-->
   <link rel="stylesheet" href="/static/style.css?{% now "U" %}"/>
   <link rel="stylesheet" href="/static/slotbooking.css?{% now "U" %}"/>
   
   
   
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     

   </head>

<body>
 
<nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      
      <div class="logo"><i class='fas fa-syringe' style='font-size:48px;color:white;'></i><a href="#"><b>Get Vaccinated</b><p>Winning Over Covid-19</p></a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Covid Vaccine</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="/">HOME</a></li>
          <li>
            <a href="#">TYPES OF VACCINE</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="https://en.wikipedia.org/wiki/Oxford%E2%80%93AstraZeneca_COVID-19_vaccine" target="_blank">COVISHIELD VACCINE</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Covaxin" target="_blank">COVAXIN VACCINE</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Sputnik_V_COVID-19_vaccine" target="_blank">SPUTNIK V vACCINE </a></li>
              <li class="more">
                <span><a href="#">MORE</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
                <ul class="more-sub-menu sub-menu">
                  <li><a href="https://en.wikipedia.org/wiki/Moderna_COVID-19_vaccine" target="_blank">MODERNA VACCINE</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Pfizer%E2%80%93BioNTech_COVID-19_vaccine" target="_blank">PFIZER VACCINE</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Janssen_COVID-19_vaccine" target="_blank">JOHNSON AND JOHNSON VACCINE</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">VACCINATION SERVICES</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              
              <li><a href="/slotcheck" target="_blank">SEARCH VACCINATION CENTER</a></li>
              <li><a href="/slotbooking">BOOK VACCINATION SLOT</a></li>
              <li><a href="#">DOWNLOAD CERTIFICATE</a></li>
            </ul>
          </li>
          
          <li><a href="#contactdiv">CONTACT US</a></li>
        </ul>
      </div>
      <div>
      <div class="wrap">
  
       <a href="/register/" class="bt"><b>Register/Sign in </b></a>
  
      </div>
      
    </div>
</nav>

{% block body %}{% endblock body %}   
<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Vaccination Services</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Register Members</a></li>
    <li><a href="http://webenlance.com">Search Vaccination Centers</a></li>
    <li><a href="/slotbooking">Book Vaccination Slots</a></li>
    <li><a href="http://webenlance.com">Manage Appointment</a></li>
    <li><a href="http://webenlance.com">Download Certificate</a></li>
    
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Platforms</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">CoWIN International/a></li>
    <li><a href="http://webenlance.com">Vaccinator</a></li>
    <li><a href="http://webenlance.com">Department Login</a></li>
    <li><a href="http://webenlance.com">Vectorization</a></li>
    <li><a href="http://webenlance.com">Verify Certificates</a></li>
    <li><a href="http://webenlance.com">Vaccination Statistics</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Resources</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="#div1">How To Get</a></li>
    <li><a href="#dos">Dos and Don'ts</a></li>
    <li><a href="http://webenlance.com">Overview</a></li>
    <li><a href="http://webenlance.com">API Guidelines</a></li>
    <li><a href="http://webenlance.com">Grievance Guidelines</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Support</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="#freq">Frequently Asked Questions</a></li>
    <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
    <li><a href="http://webenlance.com">Certificate Corrections</a></li>
    <li><a href="#contactdiv">Contact us</a></li>
    
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2"></h5>
    <!--headin5_amrc-->
    <p class="mb10">Helpline: +91 11 23978046 (Toll Free - 1075 )</p>
    <p><i class="fa fa-location-arrow"></i> Technical Helpline: 0120 4473222 </p>
    <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Terms of Service</a></li>
    <li><a href="http://webenlance.com">Privacy Policy</a></li>
    </ul>
    
    </div>
    
    
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    
    
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="/">Home</a></li>
    
    <li><a href="">Services</a></li>
    
    <li><a href="#contactdiv">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright &copy; @2017 | Designed With by <a href="#">Friends & Co.</a></p>
    
    
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>
 
 
 




  <script src="/static/script.js"></script>
   <script src="/static/slotbooking.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

