<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/static/slotcheck.css?{% now "U" %}"/>
    <link rel="icon" href="https://biorender.com/img/covid/vaccine.png" />
    
  <title>Slotcheck</title>
</head>
<body>

    <div class="searchBox">
      <input type="text" placeholder="enter your area pincode" id="input" />
      <button>
        <img
          src="https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png"
          alt="search"
        />
      </button>
      <br> <br> <br> <br> <br><br><br><br><br><br><br>
    </div>

    
    <div class="cards"></div>  

    <script src="/static/script2.js"></script>
</body>
</html>

    
  

     




    
  


